* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(42, 105, 94);
  color: rgb(93, 181, 164);
  line-height: 1.5;
  margin: 20px;
  justify-content: flex-start;
  align-items: baseline;
}

img {
  display: block;
  max-width: 100%;
}

.paragraph {
  margin-right: 30px;
  color: rgb(93, 181, 164);
}

.timer {
  display: flex;
  background-color: rgb(42, 105, 94);
}

.field {
  margin-right: 20px;
  color: rgb(93, 181, 164);
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.label {
  font-size: 12px;
  color: rgb(42, 105, 94);
}
